{% extends 'layout.twig' %}
{% block title %} Page Article {% endblock %}

{% block content %}


    <div class="container">

        <div class="row"><h3> {{ blog.title }} </h3>   </div>
        <div class="row"><p> {{ blog.content }}</p></div>
        <div class="row">
        {% if blog.date_update <= blog.date %}
        <p>A été créer le {{ blog.date }} par {{ blog.pseudo }}</p>
        {% else %}
        <p>A été modifier le {{ blog.date_update }} par {{ blog.pseudo }}</p>
        {% endif %}
        </div>

    </div>
    <div class="container">
        <h4>Commentaires</h4>
        {% for comments in comment %}
            <div class="row">
                <p>{{ comments.content }}</p>
            </div>
            <div class="row">
               {% if comments.date_update <= comment.date %}
                    <p>A été crée le {{ comments.date }} par {{ comments.pseudo }}</p>
                {% else %}
                    <p>A été modifié le {{ comments.date_update }} par {{ comments.pseudo }}</p>
                {% endif %}
            </div>
        {% endfor %}

    </div>

{% if session.session_id is defined  %}
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <form class="col-8" action="index.php?page=blog&method=createcomment&idblog={{ blog.id_article }}" method="post">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Message</label>
                    <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div class="col-2"></div>
        </div>
    </div>
{% endif %}

{% endblock %}