{% extends 'layout/layout.twig' %}
{% block title %}
    <div class="row">
        <div class="col text-center">
          <h3>Liste des blogs</h3>
        </div>
    </div>
{% endblock %}

{% block content %}
        {% for blog in listBlog %}
                <div class="card blog-card">
                    <div class="card-body">
                        <h4 class="card-title">{{ blog.title }}</h4>
                        <p class="card-text">{{ blog.chapo|slice(0,200) }}...
                            <a class="card-link" href="index.php?page=blog&idblog={{ blog.id_article }}">Lire la suite</a>
                        </p>
                        <div class="row">
                            <div class="col-6">
                                {% if blog.date_update <= blog.date %}
                                    <p>A été créé le {{ blog.date|date('d/m/Y \\à H:i:s') }}</p>
                                {% else %}
                                    <p>A été modifié le {{ blog.date_update|date('d/m/Y \\à H:i:s') }}</p>
                                {% endif %}
                            </div>
                            <div class="col-6">
                                <p>Crée par {{ blog.pseudo }}</p>
                            </div>
                        </div>

                       {#<a class="card-link" href="index.php?page=blog&idblog={{ blog.id_article }}">Lire l'article</a>#}
                  </div>
                    <hr>
                </div>

        {% endfor %}

{% endblock %}

