{% extends 'layout.twig' %}

{% block content %}

    <div class="container">
        <div class="row">
            <h3>Control panel</h3>
        </div>
        <div class="row">
            <p>Informations du compte</p>
        </div>
        <div class="row"><p>Session ID : {{ session.session_id }}</p></div>
        <div class="row"><p>Pseudo : {{ session.pseudo }}</p></div>
        <div class="row"><p>Adresse mail : {{ session.email }}</p></div>
        <div class="row"><p>Date de création du compte : {{ session.date_register }}</p></div>
        <div class="row"><p>Rang : {{ session.rank }}</p></div>


        <div class="row">
            <a href="index.php?page=user&method=listComment">Liste de mes commentaires</a>
        </div>
        <div class="row">
            <a href="index.php?page=user&method=changePassword">Changer de mot de passe</a>
        </div>
    </div>


    {% if password is defined %}
        {% if erreur is defined %}
            <button class="alert alert-danger">{{ erreur }}</button>
        {% endif %}
        {% if success is defined %}
            <button class="alert alert-success">{{ success }}</button>
        {% endif %}
        <div class="container">
            <div class="row">
                <p>Changement de mot de passe</p>
            </div>
            <div class="row">
                <form method="post" action="index.php?page=user&method=changePassword">
                    <div class="form-group">
                        <label for="passwrd">Ancien mot de passe</label>
                        <input type="password" name="oldpassword" class="form-control" id="passwrd" placeholder="Ancien mot de passe">
                    </div>
                    <div class="form-group">
                        <label for="passwrd">Nouveau mot de passe</label>
                        <input type="password" name="password1" class="form-control" id="passwrd" placeholder="Nouveau mot de passe">
                    </div>
                    <div class="form-group">
                        <label for="passwrd">Re-rentrez le nouveau mot de passe</label>
                        <input type="password" name="password2" class="form-control" id="passwrd" placeholder="Vérification nouveau mot de passe">
                    </div>
                    <button type="submit" class="btn btn-primary">Changer</button>
                </form>
            </div>
        </div>
    {% endif %}


    {% if comment is defined %}
        <hr>
        <div class="container">
    {% if comment is empty %}
        <div class="row">
            <p>Vous n'avez pas encore rédiger de commentaire</p>
        </div>
    {% else %}
            {% for comments in comment %}
                <div class="row">
                    <p>ID : {{ comments.id_comment }}</p>
                </div>
                <div class="row">

                    <p>Commentaire : {{ comments.content }}</p>
                </div>
                <div class="row">
                    <p>Ecrit par : {{ comments.pseudo }} le {{ comments.date }}</p>
                </div>
                <div class="row">
                    <p>Article : {{ comments.title }}</p>
                </div>
                {% if comments.validate == 0 %}
                <div class="row">
                    <p>Commentaire en attente d'approbation</p>
                </div>
                {% endif %}
                <a class="btn btn-danger" href="index.php?page=user&method=deleteComment&idcomment={{ comments.id_comment }}">Supprimer</a>
                <hr>
            {% endfor %}
        </div>
        {% endif %}
    {% endif %}

{% endblock %}